<% include partials/header.ejs%>

  <h1>Hello, <%= user.username %> - How are you feeling today?</h1>
	
	  <div class="btn-group btn-group-justified">
		  <div class="btn-group">
			   <a href="/nice" class = "btn btn-success btn-lg" name="nice">nice</a>
			</div>
			<div class="btn-group">
			  <a href="/meh" class = "btn btn-warning btn-lg">meh...</a>
			</div>
			<div class="btn-group">
			  <a href="/evil" class = "btn btn-danger btn-lg">evil</a>
		  </div>
	  </div>
  <br>




<% include partials/footer.ejs%>