<% include partials/header.ejs%>

  <h1>Hello, <%= user.username %> </h1> 
  <p>
  The weather outside is: <h5>Partly Cloudy</h5>
  </p>
  Are you ready to get to work?
	
	  <div class="btn-group btn-group-justified">
		  <div class="btn-group">
			   <a href="/work" class = "btn btn-primary btn-lg" name="nice">yes</a>
			</div>
			<div class="btn-group">
			  <a href="/cant" class = "btn btn-warning btn-lg">I can't.</a>
		  </div>
	  </div>
  <br>




<% include partials/footer.ejs%>