<% include partials/header.ejs%>

  <h1>Hello, <%= user.username %> </h1> 
  <p>
  It's currently: <h5></h5>
  </p>
  Are you ready to get to work?
	
	  <div class="btn-group btn-group-justified">
		  <div class="btn-group">
			   <a href="/work" class = "btn btn-primary btn-lg" name="nice">yes</a>
			</div>
			<div class="btn-group">
			  <a href="/cant" class = "btn btn-warning btn-lg">I can't.</a>
		  </div>
	  </div>
  <br>

<script>

  function b(){

    var url = 'https://api.forecast.io/forecast/<%= process.env.FORECAST_IO_KEY%>/37.8267,-122.423';
    var data;

    $.getJSON(url + "?callback=?", function(data) {
              //console.log(data);
      $('h5').html(data.currently.temperature+"ยบ and "+data.currently.summary);
    });
  };


   
  $( document ).ready(function() {
    b();
  });

</script>


<% include partials/footer.ejs%>