<% include partials/header.ejs %>

<h1>You will need to eliminate 
 people today.</h1><h2>Choose wisely.</h2> 
<ul class="humons"></ul>
<!-- <input type="button" class = "btn btn-primary btn-lg" onclick="getData(), remove()" value="Start"> -->


<script>


var counter = 0;

function getData(){
  console.log("GET DATA");
$(".humons").empty();

    $.ajax({
        url:'http://api.randomuser.me/',
        async: true,
        dataType: 'json',
        success:function(data){
            //function to capitalize the first letter of a string
            var title = function(string){
                return string.charAt(0).toUpperCase() + string.slice(1);
            };
            //pulling seed data from api
            var first = title(data.results[0].user.name.first);
            var last = title(data.results[0].user.name.last);
            var name = first + " " + last;
            var address = data.results[0].user.location.street + " " + title(data.results[0].user.location.city) + " " + title(data.results[0].user.location.state);
            var ssn = data.results[0].user.SSN;
            var age = Math.floor((Math.random()*70)+18);
            var gender = data.results[0].user.gender;
            var photo = data.results[0].user.picture.medium;
            var comorbidities = [];

            
            var chance = function(){
              return Math.floor((Math.random()*100)+1);
            };
            //Are you infected?
            if (chance() <= 8 && age >= 4){
              console.log("Bad News: You've got Asthma");
              comorbidities.push("Asthma");
            }
            if (chance() <= 8 && age >= 40){
              console.log("Bad News: You've got Cancer");
              comorbidities.push("Cancer");
            }
            if (chance() <= 12 && age >= 25){
              console.log("Bad News: You've got Heart Disease");
              comorbidities.push("Heart Disease");
            }
            if (chance() <= 3 && age >= 25){
              console.log("Bad News: You've got COPD");
              comorbidities.push("COPD");
            }
            if (chance() <= 2 && age >= 20){
              console.log("Bad News: You've got Emphysema");
              comorbidities.push("Emphysema");
            }
            if (chance() <= 6 && age >= 30){
              console.log("Bad News: You've got CAD");
              comorbidities.push("CAD");
            }
            if (chance() <= 9){
              console.log("Bad News: You've got Diabetes");
              comorbidities.push("Diabetes");
            }
            if (chance() <= 24 && age >= 20){
              console.log("Bad News: You've got Hypertension");
              comorbidities.push("Hypertension");
            }
            if (chance() <= 2 && age >= 60){
              console.log("Bad News: You've got Kidney Disease");
              comorbidities.push("Kidney Disease");
            }
            if (chance() <= 1 && age >= 50){
              console.log("Bad News: You've got Liver Disease");
              comorbidities.push("LiverDisease");
            }
            if (chance() <= 5){
              console.log("Bad News: You've got Extreme Obesity");
              comorbidities.push("Extreme Obesity");
            }
            if (chance() <= 3 && age >= 60){
              console.log("Bad News: You've got Stroke");
              comorbidities.push("Stroke");
            }


            var kids = function(random){
              if(random < 10){
                return 4;
              } else if (random > 10 && random < 25){
                return 3;
              } else if (random > 25 && random < 50){
                return 2;
              } else if (random > 50 && random < 80){
                return 1;
              } else {
                return 0;
              }
            };

            var offspring = kids(chance());
            // offspring(chance());

            //push to db

          // INSERT INTO People (name,address,age,ssn,comorbidity,offspring,income) VALUES (name, address, age, ssn, comorbidities, offspring, income);



            //TEST List data
            $('.humons').append(
            	'<div class="vic">' +
            	'<p>' + 
              '<img id="pic" src= '+ photo +' />' + 

              //EXTERMINATE FORM/BUTTON
              '<form method ="POST" action="/post/people">' +
              '<input type="hidden" name="name" value="'+name+'">' +
              '<input type="hidden" name="location" value="'+address+'">' +
              '<input type="hidden" name="age" value='+age+'>' +
              '<input type="hidden" name="offspring" value='+offspring+'>' +
              '<input type="hidden" name="photo" value='+photo+'>' +
              '<input type="hidden" name="ssn" value='+ssn+'>' +
              '<input type="submit" class = "btn btn-success btn-lg" value="EXTERMINATE">' +
              '</form>' +

              //Retain Button
              '<input type="button" id="btnRetain" class="btn btn-primary btn-lg" onclick="getData(), remove()" value="Retain">' +

              '</p>' + 
            	'<p>' + "Age: " + age + '</p>' +
            	'<p>' + 'Name: ' + name + '</p>' + 
            	'<p>' + address + '</p>' +
            	'<p>' + "SSN: " + ssn + '</p>' +
            	'<p>' + "Children: " + offspring + '</p>' +
            	'<p>' + "Diagnoses: " + comorbidities + '</p>' +


            
            


            

            '</div>');


            //console.log(data);
            counter++;

            //The amount of users to generate
            if (counter < 1) getData();
        }
    });
}

$( document ).ready(function() {
    getData();
});
</script>

<% include partials/footer.ejs%>