<% include partials/header.ejs %>

<h1>You chose: <%= mood%></h1> 
<% if(mood === "EVIL"){ %>
<%= "Choose 10 people to be eliminated today."%>
<% } else if(mood === "meh...") {%>
<%= "Choose 3 people to eliminate today."%>
<% } else if(mood === "nice") {%>
<%= "Chose one of these people to be eliminated today."%>
<% } %>

<% include partials/footer.ejs%>