<% include partials/header.ejs %>

<h1>You chose: <%= mood%></h1> 
<% if(mood === "EVIL"){ %>
<%= "all of these people will need to be eliminated today."%>
<% } else if(mood === "meh...") {%>
<%= "You will only have to eliminate 3 of these people."%>
<% } else if(mood === "nice") {%>
<%= "You will only have to eliminate 1 of these people."%>
<% } %>

<% include partials/footer.ejs%>